.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-tab-group {
  text-align: center;
} 

.alignObject{
  align-items: center;
}

.mat-Margin{
  margin-top: 40px;
  
}
.mat-tab-group{
  margin-bottom: 48px;
}


.example-form {
 
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}


.aling-left {
  align-items: flex-start;
  align-content: left;
  text-align: left;
} 

.aling-right {
  align-items: right;
  align-content: right;
  text-align: right;
  justify-content: space-between;
} 

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}



.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

::ng-deep .mat-form-field .mat-input-element {
    color: slategray;
}
::ng-deep .mat-form-field .mat-form-field-label {
    color: slategray!important;
}
::ng-deep .mat-form-field .mat-form-field-underline {
    background-color: slategray;
}
::ng-deep .mat-form-field .mat-form-field-ripple {
    background-color: slategray;
}
::ng-deep .mat-form-field .mat-form-field-required-marker {
    color: slategray;
}


::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #ff884d!important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #ff884d;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-required-marker {
    color: #ff884d;
}
::ng-deep .mat-form-field.mat-focused .mat-input-element {
    color: #ff884d;
}


.modal-backdrop {
  background-color: rgba(0,0,0,.0001) !important;
}

.modal-content {
  background-color: transparent !important;
  border: 0px !important
}

.modal-header {
  border: 0px !important
}

