<div id="pcoded" class="pcoded">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">

      <nav class="navbar header-navbar pcoded-header">
          <div class="navbar-wrapper">

              <!-- Logo Start -->
              <div class="navbar-logo">
                  <a class="mobile-menu cursor-pointer" id="mobile-collapse">
                      <i class="feather icon-menu"></i>
                  </a>
                  <a href="index.htm">
                      <!-- <img class="img-fluid" src="assets\images\logoRec.png" alt="Logo Mirror"> -->
                      <h5 class=" text-overline">Wall Mirror</h5>
                  </a>
                  <a class="mobile-options">
                      <i class="feather icon-more-horizontal"></i>
                  </a>
              </div>
               <!-- Logo End -->


              <div class="navbar-container container-fluid">

                  <!-- Iconos Start -->
                  <ul class="nav-left">
                      <li class="header-search">
                          <div class="main-search morphsearch-search">
                              <div class="input-group">
                                  <span class="input-group-addon search-close"><i class="feather icon-x"></i></span>
                                  <input type="text" class="form-control">
                                  <span class="input-group-addon search-btn"><i class="feather icon-search"></i></span>
                              </div>
                          </div>
                      </li>
                      <li>
                          <a class="cursor-pointer" onclick="javascript:toggleFullScreen()">
                              <i class="feather icon-maximize full-screen"></i>
                          </a>
                      </li>
                  </ul>
                   <!-- Iconos End -->

                  <ul class="nav-right">
                      <!-- Notificaciones Start -->
                      <li class="header-notification">
                          <div class="dropdown-primary dropdown">
                              <div class="dropdown-toggle" data-toggle="dropdown">
                                  <i class="feather icon-bell"></i>
                              <!-- Etiqueta Externa conteo notificaciones -->
                                  <span class="badge bg-c-pink">1</span>
                              </div>
                              <ul class="show-notification notification-view dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                  <li>
                                      <h6>Notificaciones</h6>
                                  <!-- Etiqueta interna nuevas notificaciones -->
                                      <!-- <label class="label label-danger">New</label> -->
                                  </li>

                                  <!-- Lista de Notificaciones Start -->
                                  <li>
                                      <div class="media">
                                          <i class="feather icon-bell"></i>
                                          <div class="media-body">
                                              <h5 class="notification-user">Raspberry - Unicentro</h5>
                                              <p class="notification-msg">Falla en Comunicacion TV</p>
                                              <span class="notification-time">Hace 30 Minutos</span>
                                          </div>
                                      </div>
                                  </li>
                                  <!-- Lista de Notificaciones End -->      

                              </ul>
                          </div>
                      </li>
                      <!-- Notificaciones End -->

                       <!-- Perfil Menu Start-->
                      <li class="user-profile header-notification">
                          <div class="dropdown-primary dropdown">
                              <div class="dropdown-toggle" data-toggle="dropdown">
                                  <img src="assets\images\auth\Logo-small-bottom.png" class="img-radius" alt="User-Profile-Image">
                                  <span>{{ username }}</span>
                                  <i class="feather icon-chevron-down"></i>
                              </div>
                              <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                  <li>
                                      <a href="#!">
                                          <i class="feather icon-settings"></i> Ajustes
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <i class="feather icon-user"></i> Perfil
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <i class="feather icon-lock"></i> Bloqueo Pantalla
                                      </a>
                                  </li>
                                  <li>
                                      <a (click)="logout()">
                                          <i class="feather icon-log-out"></i> Salir
                                      </a>
                                  </li>
                              </ul>

                          </div>
                      </li>
                      <!-- Perfil Menu End -->
                  </ul>
              </div>
          </div>
      </nav>


      <div class="pcoded-main-container">
          <div class="pcoded-wrapper">


              <nav class="pcoded-navbar">
                  <div class="pcoded-inner-navbar main-menu">
                      <div class="pcoded-navigatio-lavel">Hola, <abbr title="En linea"><i class="fa fa-circle-o online"></i></abbr> {{rolName}}</div>
                      <ul class="pcoded-item pcoded-left-item">
                          <li class="">
                              <a href="dashboard">
                                  <span class="pcoded-micon"><i class="feather icon-home "></i></span>
                                  <span class="pcoded-mtext">Página principal</span><span class="pcoded-badge label label-warning ">Admin</span>
                              </a>
                          </li>
                      </ul>
                      <ul class="pcoded-item pcoded-left-item">
                          <li class="">
                              <a href="configuracion">
                                  <span class="pcoded-micon"><i class="fa fa-wrench"></i></span>
                                  <span class="pcoded-mtext">Configuración</span><span class="pcoded-badge label label-warning ">Admin</span>
                              </a>
                          </li>
                      </ul>

                      <div class="pcoded-navigatio-lavel">Dispositivos</div>
                      <ul class="pcoded-item pcoded-left-item">
                          <li class="">
                              <a href="index.htm">
                                  <span class="pcoded-micon"><i class="fa fa-usb"></i></span>
                                  <span class="pcoded-mtext">Sensores</span><span class="pcoded-badge label label-info ">Nuevo</span>
                              </a>
                          </li>
                      </ul>
                      <ul class="pcoded-item pcoded-left-item">
                          <li class="">
                              <a href="index.htm">
                                  <span class="pcoded-micon"><i class="icofont icofont-circuit"></i></span>
                                  <span class="pcoded-mtext">Equipos</span><span class="pcoded-badge label label-info ">Nuevo</span>
                              </a>
                          </li>
                      </ul>

                      <div class="pcoded-navigatio-lavel">Reportes</div>
                      <ul class="pcoded-item pcoded-left-item">
                          <li class="">
                              <a href="index.htm">
                                  <span class="pcoded-micon"><i class="zmdi zmdi-assignment-check"></i></span>
                                  <span class="pcoded-mtext">Informes</span><span class="pcoded-badge label label-info ">Nuevo</span>
                              </a>
                          </li>
                      </ul>

                  </div>
              </nav>


              <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="page-body">
                                <div class="row">

                                  <div class="col-lg-12">
                                    <div class="card">
                                        
                                        <div class="card-header">
                                            
                                            <h4>Configuracion del Sitio</h4>
                                            <span>Modulo de parametrizacion de jerarquias del sitio.</span>
    
                                        </div>
                                        <div class="card-block">
                                          <mat-tab-group mat-align-tabs="center">
                                           
                                            <mat-tab>
                                                <ng-template mat-tab-label>
                                                  <mat-icon class="example-tab-icon">location_city </mat-icon>
                                                  Ciudades
                                                </ng-template>
                                                <div class="mat-Margin">
                                                      <!-- Tooltip Validation card start -->
                                                  <!-- <div class="card-header">
                                                      <h5>Registro Ciudad Nueva</h5>
                                                      <span>Formulario Registrar Ciudad</span>

                                                  </div> -->
                                                  <div class="card-block">
                                                      <div class="col-lg-12">
                                                        <div class="card widget-card-1">
                                                            <div class="card-block-small">
                                                                <i class="feather icon-home bg-c-pink card1-icon"></i>
                                                                <span class="text-c-pink f-w-600">Registro Ciudad</span>
                                                                <br><br>
                                                                <form>
                                                                  <div class="form-group">
                                                                    <h4 class="sub-title">Nombre</h4>
                                                                    <mat-form-field class="example-full-width" appearance="fill">
                                                                      <mat-label>Ciudad</mat-label>
                                                                      <input type="text"
                                                                             placeholder="Elige o Escriba"
                                                                             aria-label="Number"
                                                                             matInput
                                                                             [formControl]="myControl"
                                                                             [matAutocomplete]="auto"
                                                                             [(ngModel)]="nombre"
                                                                             name="nombre"
                                                                             >
                                                                      <mat-autocomplete #auto="matAutocomplete">
                                                                        <mat-option *ngFor="let option of options" [value]="option">
                                                                          {{option}}
                                                                        </mat-option>
                                                                      </mat-autocomplete>
                                                                    </mat-form-field>
                                                                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                                                                  </div>

                                                                  <div class="form-group">
                                                                    <h4 class="sub-title">Latitud</h4>
                                                                    <mat-form-field class="example-full-width" appearance="fill">
                                                                      <mat-label>Latitud</mat-label>
                                                                      <input matInput #postalCode maxlength="10" placeholder="Ex. 94105"  [(ngModel)]="lat"
                                                                      name="lat">
                                                                      <mat-hint align="end">{{postalCode.value.length}} / 10</mat-hint>
                                                                    </mat-form-field>
                                                                    
                                                                  </div>

                                                                  <div class="form-group">
                                                                    <h4 class="sub-title">Longitud</h4>
                                                                    <mat-form-field class="example-full-width" appearance="fill">
                                                                      <mat-label>Longitud</mat-label>
                                                                      <input matInput #postalCode maxlength="10" placeholder="Ex. 94105" [(ngModel)]="lng"
                                                                      name="lng">
                                                                      <mat-hint align="end">{{postalCode.value.length}} / 10</mat-hint>
                                                                    </mat-form-field>
                                                                    
                                                                  </div>
                                                                  
                                                                  <button type="submit" class="btn btn-primary" (click)="SetCity()" (click)="openSnackBar('Registrado', 'Ok')">Registrar</button>
                                                                </form>
                                                                <div>
                                                                    <span class="f-left m-t-10 text-muted">
                                                                        <i class="text-c-pink f-16 feather icon-edit-1 m-r-10"></i>Formulario Registrar Ciudad
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                  </div>

                                              
                                              <!-- Tooltip Validation card end -->

                                                </div>


                                                <div class="page-body mat-Margin">
                                                    <div class="card">
                                                                      <div class="card">
                                                                          <div class="card-header">
                                                                              <h5 class="card-header-text">Ciudades Registradas</h5>
                                                                          </div>
                                                                          <div class="card-block contact-details">
                                                                              <div class="data_table_main table-responsive dt-responsive">
                                                                                  <table id="simpletable" class="table  table-striped table-bordered nowrap">
                                                                                      <thead>
                                                                                          <tr>
                                                                                            <th scope="col" class=" text-center">ID Ciudad</th>
                                                                                            <th scope="col" class=" text-center">Nombre</th>
                                                                                            <th scope="col" class=" text-center">Latitud</th>
                                                                                            <th scope="col" class=" text-center">Longitud</th>
                                                                                            <th scope="col" class=" text-center">Accion</th>
                                                                                          </tr>
                                                                                      </thead>
                                                                                      <tbody>
                                                                                          <tr *ngFor = "let data of getCiudades | paginate: { itemsPerPage: 10, currentPage: cp  }">
                                                                                            <th scope="row" class=" text-center">{{data.id}}</th>
                                                                                            <td class=" text-center">{{data.nombre}}</td>
                                                                                            <td class=" text-center">{{data.latitud}}</td>
                                                                                            <td class=" text-center">{{data.longitud}}</td>
                                                                                              
                                                                                              
                                                                                              <td class="dropdown">
                                                                                                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i></button>
                                                                                                  <div class="dropdown-menu dropdown-menu-right b-none contact-menu">
                                                                                                      <a class="dropdown-item"  data-toggle="modal" data-target="#exampleModal"><i class="icofont icofont-edit text-c-lite-green"></i>Editar</a>
                                                                                                      <a class="dropdown-item" href="#!"><i class="icofont icofont-ui-delete text-c-pink"></i>Eliminar</a>
                                                                                                  </div>
                                                                                              </td>
                                                                                          </tr>
                                                                                      </tbody>
                                                                                  </table>
                                                                                  <!-- Paginación -->
                                                                    <br><br>
                                                                    <div class="pro-result pagination-style">
                                                                        <div class="clearfix">
                                                                        <pagination-controls  
                                                                        class="my-pagination pagination-style" 
                                                                        (pageChange)="onPageChange 
                                                                        ($event)" 
                                                                        
                                                                        previousLabel = " Anterior "
                                                                        nextLabel = " Siguiente " 
                                                                        >
                                                                        </pagination-controls>
                                                                        </div>
                                                                    </div>
                                                                    <!-- Paginación -->
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                      

                                                                      

                                                    </div>
                                                  </div>  

                                              </mat-tab>

                                              <mat-tab>
                                                <ng-template mat-tab-label>
                                                  <mat-icon class="example-tab-icon">local_mall </mat-icon>
                                                  Categorias
                                                </ng-template>

                                                <div class="mat-Margin">
                                                 
                                                  <mat-accordion class="example-headers-align"  multi="false">
                                                    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                                                      <mat-expansion-panel-header>
                                                        <mat-panel-title>
                                                         Ciudad
                                                        </mat-panel-title>
                                                        <mat-panel-description>
                                                            Escribir o elegir.
                                                          <mat-icon>location_city</mat-icon>
                                                        </mat-panel-description>
                                                      </mat-expansion-panel-header>
                                                  
                                                      <form class="example-form">
                                                        <mat-form-field class="example-full-width" appearance="fill">
                                                          <mat-label>Ciudad</mat-label>
                                                          <input type="text"
                                                                 placeholder="Elige o Escriba"
                                                                 aria-label="Number"
                                                                 matInput
                                                                 [formControl]="myControl"
                                                                 [matAutocomplete]="auto">
                                                          <mat-autocomplete #auto="matAutocomplete">
                                                            <mat-option *ngFor="let option of options" [value]="option">
                                                              {{option}}
                                                            </mat-option>
                                                          </mat-autocomplete>
                                                        </mat-form-field>
                                                      </form>

                                                      <mat-action-row>
                                                        <button mat-button  class="btn btn-mat btn-primary text-white" (click)="nextStep()">Siguiente</button>
                                                      </mat-action-row>
                                                    </mat-expansion-panel>
                                                  
                                                    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                                                      <mat-expansion-panel-header>
                                                        <mat-panel-title>
                                                          Latitud
                                                        </mat-panel-title>
                                                        <mat-panel-description>
                                                            Latitud de Ciudad
                                                          <mat-icon> my_location</mat-icon>
                                                        </mat-panel-description>
                                                      </mat-expansion-panel-header>
                                                  
                                                      <form class="example-form">
                                                        <mat-form-field class="example-full-width" appearance="fill">
                                                          <mat-label>Latitud</mat-label>
                                                          <input matInput placeholder="Latitud Exacta">
                                                        </mat-form-field>
                                                      </form>
                                                  
                                                      <mat-action-row>
                                                        <button mat-button class="btn btn-mat btn-danger text-white" (click)="prevStep()">Anterior</button>
                                                        <button mat-button class="btn btn-mat btn-primary text-white" (click)="nextStep()">Siguiente</button>
                                                      </mat-action-row>
                                                    </mat-expansion-panel>
                                                  
                                                    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                                                      <mat-expansion-panel-header>
                                                        <mat-panel-title>
                                                          Longitud
                                                        </mat-panel-title>
                                                        <mat-panel-description>
                                                            Longitud de Ciudad
                                                          <mat-icon>short_text</mat-icon>
                                                        </mat-panel-description>
                                                      </mat-expansion-panel-header>

                                                      <form class="example-form">
                                                        <mat-form-field class="example-full-width" appearance="fill">
                                                          <mat-label>Longitd</mat-label>
                                                          <input matInput placeholder="Longitd Exacta">
                                                        </mat-form-field>
                                                      </form>

                                                      <mat-action-row>
                                                        <button mat-button class="btn btn-mat btn-danger text-white" (click)="prevStep()">Anterior</button>
                                                        <button mat-button class="btn btn-mat btn-primary text-white" (click)="openSnackBar('Registrado', 'Cancelar')">
                                                            Finalizar
                                                          </button>
                                                      </mat-action-row>
                                                    </mat-expansion-panel>
                                                  
                                                  </mat-accordion>
                                                  
                                                
                                                </div>
                                              </mat-tab>

                                              <mat-tab>
                                                <ng-template mat-tab-label>
                                                  <mat-icon class="example-tab-icon">add_location </mat-icon>
                                                  Sitios
                                                </ng-template>
                                                <div class="mat-Margin">Contenido de Baños Acesso: {{getTimeLoaded(1) | date:'medium'}}</div>
                                              </mat-tab>

                                              <mat-tab>
                                                <ng-template mat-tab-label>
                                                  <mat-icon class="example-tab-icon">camera_front </mat-icon>
                                                  Baños
                                                </ng-template>
                                                <div class="mat-Margin">
                                                 
                                                </div>
                                              </mat-tab>

                                              <mat-tab>
                                                <ng-template mat-tab-label>
                                                  <mat-icon class="example-tab-icon">face </mat-icon>
                                                  Generos
                                                </ng-template>
                                                <div class="mat-Margin">Contenido de ciudades Acceso: {{getTimeLoaded(1) | date:'medium'}}</div>
                                              </mat-tab>

                                              <mat-tab>
                                                <ng-template mat-tab-label>
                                                  <mat-icon class="example-tab-icon">memory  </mat-icon>
                                                  Raspberri Pi
                                                </ng-template>
                                                <div class="mat-Margin">Contenido de ciudades Acceso: {{getTimeLoaded(1) | date:'medium'}}</div>
                                              </mat-tab>

                                              <mat-tab>
                                                <ng-template mat-tab-label>
                                                  <mat-icon class="example-tab-icon">supervised_user_circle </mat-icon>
                                                  Usuarios
                                                </ng-template>
                                                <div class="mat-Margin">
                                                  
                                                  
                                                  <mat-stepper labelPosition="bottom" #stepper>
                                                    <mat-step [stepControl]="firstFormGroup">
                                                      <form [formGroup]="firstFormGroup">
                                                        <ng-template matStepLabel>Nombre de Usuario</ng-template>
                                                        <mat-form-field class="example-full-width"  appearance="fill">
                                                          <mat-label>Nombre Usuario</mat-label>
                                                          <input  matInput placeholder="nombre.apellido" formControlName="firstCtrl" required>
                                                        </mat-form-field>
                                                        <mat-action-row>
                                                          <button mat-button matStepperNext mat-button class="btn btn-mat btn-primary text-white">Siguiente</button>
                                                        </mat-action-row>
                                                      </form>
                                                    </mat-step>
                                                    <mat-step [stepControl]="secondFormGroup" required>
                                                      <form [formGroup]="secondFormGroup">
                                                        <ng-template matStepLabel>Contraseña</ng-template>
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                          <mat-label>Ingresar Contraseña</mat-label>
                                                          <input matInput [type]="hide ? 'password' : 'text'">
                                                          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                          </button>
                                                          <mat-hint>La contraseña debe contener <code>! " # $ % &</code></mat-hint>
                                                        </mat-form-field>
                                                        <mat-action-row>
                                                          <button mat-button matStepperPrevious class="btn btn-mat btn-danger text-white" >Anterior</button>
                                                          <button mat-button matStepperNext mat-button class="btn btn-mat btn-primary text-white">Siguiente</button>
                                                        </mat-action-row>
                                                      </form>
                                                    </mat-step>
                                                    <mat-step>
                                                      <ng-template matStepLabel>Done</ng-template>
                                                      <p>You are now done.</p>
                                                      <mat-action-row> 
                                                        <button mat-button matStepperPrevious class="btn btn-mat btn-danger text-white" >Anterior</button>
                                                        <button mat-button (click)="stepper.reset()">Reset</button>
                                                      </mat-action-row>
                                                    </mat-step>
                                                  </mat-stepper>
                                                  
                                                
                                                
                                                </div>
                                              </mat-tab>

                                              
                                          </mat-tab-group>
                                        </div>
                                      </div>
                                    </div>

                                  <!-- Contenido1 -->

                                  
                                  
                                  
                                  


                                </div>
                               </div>
                        </div>
                    </div>
                  </div>
                </div>
          </div>
      </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar nombreCiudad</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-block">
          <div class="col-lg-12">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="feather icon-home bg-c-pink card1-icon"></i>
                    <span class="text-c-pink f-w-600">Registro Ciudad</span>
                    <br><br>
                    <form>
                      <div class="form-group">
                        <h4 class="sub-title">Nombre</h4>
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Ciudad</mat-label>
                          <input type="text"
                                 placeholder="Elige o Escriba"
                                 aria-label="Number"
                                 matInput
                                 [formControl]="myControl"
                                 [matAutocomplete]="auto"
                                 [(ngModel)]="nombre"
                                 name="nombre"
                                 >
                          <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of options" [value]="option">
                              {{option}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                      </div>

                      <div class="form-group">
                        <h4 class="sub-title">Latitud</h4>
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Latitud</mat-label>
                          <input matInput #postalCode maxlength="10" placeholder="Ex. 94105"  [(ngModel)]="lat"
                          name="lat">
                          <mat-hint align="end">{{postalCode.value.length}} / 10</mat-hint>
                        </mat-form-field>
                        
                      </div>

                      <div class="form-group">
                        <h4 class="sub-title">Longitud</h4>
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Longitud</mat-label>
                          <input matInput #postalCode maxlength="10" placeholder="Ex. 94105" [(ngModel)]="lng"
                          name="lng">
                          <mat-hint align="end">{{postalCode.value.length}} / 10</mat-hint>
                        </mat-form-field>
                        
                      </div>
                      
                      <button type="submit" class="btn btn-primary" (click)="SetCity()" (click)="openSnackBar('Registrado', 'Ok')">Actualizar</button>
                    </form>
                    <div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>